<?xml version="1.0" encoding="utf-8"?>
<data-set xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <countrycode>
    <country>Afghanistan</country>
    <code>93</code>
  </countrycode>
  <countrycode>
    <country>Albania</country>
    <code>355</code>
  </countrycode>
  <countrycode>
    <country>Algeria</country>
    <code>213</code>
  </countrycode>
  <countrycode>
    <country>American Samoa</country>
    <code>1684</code>
  </countrycode>
  <countrycode>
    <country>Andorra</country>
    <code>376</code>
  </countrycode>
  <countrycode>
    <country>Angola</country>
    <code>244</code>
  </countrycode>
  <countrycode>
    <country>Anguilla</country>
    <code>1264</code>
  </countrycode>
  <countrycode>
    <country>Antarctica</country>
    <code>672</code>
  </countrycode>
  <countrycode>
    <country>Antigua and Barbuda</country>
    <code>1268</code>
  </countrycode>
  <countrycode>
    <country>Argentina</country>
    <code>54</code>
  </countrycode>
  <countrycode>
    <country>Armenia</country>
    <code>374</code>
  </countrycode>
  <countrycode>
    <country>Aruba</country>
    <code>297</code>
  </countrycode>
  <countrycode>
    <country>Australia</country>
    <code>61</code>
  </countrycode>
  <countrycode>
    <country>Austria</country>
    <code>43</code>
  </countrycode>
  <countrycode>
    <country>Azerbaijan</country>
    <code>994</code>
  </countrycode>
  <countrycode>
    <country>Bahamas</country>
    <code>1242</code>
  </countrycode>
  <countrycode>
    <country>Bahrain</country>
    <code>973</code>
  </countrycode>
  <countrycode>
    <country>Bangladesh</country>
    <code>880</code>
  </countrycode>
  <countrycode>
    <country>Barbados</country>
    <code>1246</code>
  </countrycode>
  <countrycode>
    <country>Belarus</country>
    <code>375</code>
  </countrycode>
  <countrycode>
    <country>Belgium</country>
    <code>32</code>
  </countrycode>
  <countrycode>
    <country>Belize</country>
    <code>501</code>
  </countrycode>
  <countrycode>
    <country>Benin</country>
    <code>229</code>
  </countrycode>
  <countrycode>
    <country>Bermuda</country>
    <code>1441</code>
  </countrycode>
  <countrycode>
    <country>Bhutan</country>
    <code>975</code>
  </countrycode>
  <countrycode>
    <country>Bolivia</country>
    <code>591</code>
  </countrycode>
  <countrycode>
    <country>Bosnia and Herzegovina</country>
    <code>387</code>
  </countrycode>
  <countrycode>
    <country>Botswana</country>
    <code>267</code>
  </countrycode>
  <countrycode>
    <country>Brazil</country>
    <code>55</code>
  </countrycode>
  <countrycode>
    <country>British Virgin Islands</country>
    <code>1284</code>
  </countrycode>
  <countrycode>
    <country>Brunei</country>
    <code>673</code>
  </countrycode>
  <countrycode>
    <country>Bulgaria</country>
    <code>359</code>
  </countrycode>
  <countrycode>
    <country>Burkina Faso</country>
    <code>226</code>
  </countrycode>
  <countrycode>
    <country>Burma (Myanmar)</country>
    <code>95</code>
  </countrycode>
  <countrycode>
    <country>Burundi</country>
    <code>257</code>
  </countrycode>
  <countrycode>
    <country>Cambodia</country>
    <code>855</code>
  </countrycode>
  <countrycode>
    <country>Cameroon</country>
    <code>237</code>
  </countrycode>
  <countrycode>
    <country>Canada</country>
    <code>1</code>
  </countrycode>
  <countrycode>
    <country>Cape Verde</country>
    <code>238</code>
  </countrycode>
  <countrycode>
    <country>Cayman Islands</country>
    <code>1345</code>
  </countrycode>
  <countrycode>
    <country>Central African Republic</country>
    <code>236</code>
  </countrycode>
  <countrycode>
    <country>Chad</country>
    <code>235</code>
  </countrycode>
  <countrycode>
    <country>Chile</country>
    <code>56</code>
  </countrycode>
  <countrycode>
    <country>China</country>
    <code>86</code>
  </countrycode>
  <countrycode>
    <country>Christmas Island</country>
    <code>61</code>
  </countrycode>
  <countrycode>
    <country>Cocos (Keeling) Islands</country>
    <code>61</code>
  </countrycode>
  <countrycode>
    <country>Colombia</country>
    <code>57</code>
  </countrycode>
  <countrycode>
    <country>Comoros</country>
    <code>269</code>
  </countrycode>
  <countrycode>
    <country>Republic of the Congo</country>
    <code>242</code>
  </countrycode>
  <countrycode>
    <country>Democratic Republic of the Congo</country>
    <code>243</code>
  </countrycode>
  <countrycode>
    <country>Cook Islands</country>
    <code>682</code>
  </countrycode>
  <countrycode>
    <country>Costa Rica</country>
    <code>506</code>
  </countrycode>
  <countrycode>
    <country>Croatia</country>
    <code>385</code>
  </countrycode>
  <countrycode>
    <country>Cuba</country>
    <code>53</code>
  </countrycode>
  <countrycode>
    <country>Cyprus</country>
    <code>357</code>
  </countrycode>
  <countrycode>
    <country>Czech Republic</country>
    <code>420</code>
  </countrycode>
  <countrycode>
    <country>Denmark</country>
    <code>45</code>
  </countrycode>
  <countrycode>
    <country>Djibouti</country>
    <code>253</code>
  </countrycode>
  <countrycode>
    <country>Dominica</country>
    <code>1767</code>
  </countrycode>
  <countrycode>
    <country>Dominican Republic</country>
    <code>1809</code>
  </countrycode>
  <countrycode>
    <country>Timor-Leste</country>
    <code>670</code>
  </countrycode>
  <countrycode>
    <country>Ecuador</country>
    <code>593</code>
  </countrycode>
  <countrycode>
    <country>Egypt</country>
    <code>20</code>
  </countrycode>
  <countrycode>
    <country>El Salvador</country>
    <code>503</code>
  </countrycode>
  <countrycode>
    <country>Equatorial Guinea</country>
    <code>240</code>
  </countrycode>
  <countrycode>
    <country>Eritrea</country>
    <code>291</code>
  </countrycode>
  <countrycode>
    <country>Estonia</country>
    <code>372</code>
  </countrycode>
  <countrycode>
    <country>Ethiopia</country>
    <code>251</code>
  </countrycode>
  <countrycode>
    <country>Falkland Islands</country>
    <code>500</code>
  </countrycode>
  <countrycode>
    <country>Faroe Islands</country>
    <code>298</code>
  </countrycode>
  <countrycode>
    <country>Fiji</country>
    <code>679</code>
  </countrycode>
  <countrycode>
    <country>Finland</country>
    <code>358</code>
  </countrycode>
  <countrycode>
    <country>France</country>
    <code>33</code>
  </countrycode>
  <countrycode>
    <country>French Polynesia</country>
    <code>689</code>
  </countrycode>
  <countrycode>
    <country>Gabon</country>
    <code>241</code>
  </countrycode>
  <countrycode>
    <country>Gambia</country>
    <code>220</code>
  </countrycode>
  <countrycode>
    <country>Gaza Strip</country>
    <code>970</code>
  </countrycode>
  <countrycode>
    <country>Georgia</country>
    <code>995</code>
  </countrycode>
  <countrycode>
    <country>Germany</country>
    <code>49</code>
  </countrycode>
  <countrycode>
    <country>Ghana</country>
    <code>233</code>
  </countrycode>
  <countrycode>
    <country>Gibraltar</country>
    <code>350</code>
  </countrycode>
  <countrycode>
    <country>Greece</country>
    <code>30</code>
  </countrycode>
  <countrycode>
    <country>Greenland</country>
    <code>299</code>
  </countrycode>
  <countrycode>
    <country>Grenada</country>
    <code>1473</code>
  </countrycode>
  <countrycode>
    <country>Guam</country>
    <code>1671</code>
  </countrycode>
  <countrycode>
    <country>Guatemala</country>
    <code>502</code>
  </countrycode>
  <countrycode>
    <country>Guinea</country>
    <code>224</code>
  </countrycode>
  <countrycode>
    <country>Guinea-Bissau</country>
    <code>245</code>
  </countrycode>
  <countrycode>
    <country>Guyana</country>
    <code>592</code>
  </countrycode>
  <countrycode>
    <country>Haiti</country>
    <code>509</code>
  </countrycode>
  <countrycode>
    <country>Honduras</country>
    <code>504</code>
  </countrycode>
  <countrycode>
    <country>Hong Kong</country>
    <code>852</code>
  </countrycode>
  <countrycode>
    <country>Hungary</country>
    <code>36</code>
  </countrycode>
  <countrycode>
    <country>Iceland</country>
    <code>354</code>
  </countrycode>
  <countrycode>
    <country>India</country>
    <code>91</code>
  </countrycode>
  <countrycode>
    <country>Indonesia</country>
    <code>62</code>
  </countrycode>
  <countrycode>
    <country>Iran</country>
    <code>98</code>
  </countrycode>
  <countrycode>
    <country>Iraq</country>
    <code>964</code>
  </countrycode>
  <countrycode>
    <country>Ireland</country>
    <code>353</code>
  </countrycode>
  <countrycode>
    <country>Isle of Man</country>
    <code>44</code>
  </countrycode>
  <countrycode>
    <country>Israel</country>
    <code>972</code>
  </countrycode>
  <countrycode>
    <country>Italy</country>
    <code>39</code>
  </countrycode>
  <countrycode>
    <country>Ivory Coast</country>
    <code>225</code>
  </countrycode>
  <countrycode>
    <country>Jamaica</country>
    <code>1876</code>
  </countrycode>
  <countrycode>
    <country>Japan</country>
    <code>81</code>
  </countrycode>
  <countrycode>
    <country>Jordan</country>
    <code>962</code>
  </countrycode>
  <countrycode>
    <country>Kazakhstan</country>
    <code>7</code>
  </countrycode>
  <countrycode>
    <country>Kenya</country>
    <code>254</code>
  </countrycode>
  <countrycode>
    <country>Kiribati</country>
    <code>686</code>
  </countrycode>
  <countrycode>
    <country>Kosovo</country>
    <code>381</code>
  </countrycode>
  <countrycode>
    <country>Kuwait</country>
    <code>965</code>
  </countrycode>
  <countrycode>
    <country>Kyrgyzstan</country>
    <code>996</code>
  </countrycode>
  <countrycode>
    <country>Laos</country>
    <code>856</code>
  </countrycode>
  <countrycode>
    <country>Latvia</country>
    <code>371</code>
  </countrycode>
  <countrycode>
    <country>Lebanon</country>
    <code>961</code>
  </countrycode>
  <countrycode>
    <country>Lesotho</country>
    <code>266</code>
  </countrycode>
  <countrycode>
    <country>Liberia</country>
    <code>231</code>
  </countrycode>
  <countrycode>
    <country>Libya</country>
    <code>218</code>
  </countrycode>
  <countrycode>
    <country>Liechtenstein</country>
    <code>423</code>
  </countrycode>
  <countrycode>
    <country>Lithuania</country>
    <code>370</code>
  </countrycode>
  <countrycode>
    <country>Luxembourg</country>
    <code>352</code>
  </countrycode>
  <countrycode>
    <country>Macau</country>
    <code>853</code>
  </countrycode>
  <countrycode>
    <country>Macedonia</country>
    <code>389</code>
  </countrycode>
  <countrycode>
    <country>Madagascar</country>
    <code>261</code>
  </countrycode>
  <countrycode>
    <country>Malawi</country>
    <code>265</code>
  </countrycode>
  <countrycode>
    <country>Malaysia</country>
    <code>60</code>
  </countrycode>
  <countrycode>
    <country>Maldives</country>
    <code>960</code>
  </countrycode>
  <countrycode>
    <country>Mali</country>
    <code>223</code>
  </countrycode>
  <countrycode>
    <country>Malta</country>
    <code>356</code>
  </countrycode>
  <countrycode>
    <country>Marshall Islands</country>
    <code>692</code>
  </countrycode>
  <countrycode>
    <country>Mauritania</country>
    <code>222</code>
  </countrycode>
  <countrycode>
    <country>Mauritius</country>
    <code>230</code>
  </countrycode>
  <countrycode>
    <country>Mayotte</country>
    <code>262</code>
  </countrycode>
  <countrycode>
    <country>Mexico</country>
    <code>52</code>
  </countrycode>
  <countrycode>
    <country>Micronesia</country>
    <code>691</code>
  </countrycode>
  <countrycode>
    <country>Moldova</country>
    <code>373</code>
  </countrycode>
  <countrycode>
    <country>Monaco</country>
    <code>377</code>
  </countrycode>
  <countrycode>
    <country>Mongolia</country>
    <code>976</code>
  </countrycode>
  <countrycode>
    <country>Montenegro</country>
    <code>382</code>
  </countrycode>
  <countrycode>
    <country>Montserrat</country>
    <code>1664</code>
  </countrycode>
  <countrycode>
    <country>Morocco</country>
    <code>212</code>
  </countrycode>
  <countrycode>
    <country>Mozambique</country>
    <code>258</code>
  </countrycode>
  <countrycode>
    <country>Namibia</country>
    <code>264</code>
  </countrycode>
  <countrycode>
    <country>Nauru</country>
    <code>674</code>
  </countrycode>
  <countrycode>
    <country>Nepal</country>
    <code>977</code>
  </countrycode>
  <countrycode>
    <country>Netherlands</country>
    <code>31</code>
  </countrycode>
  <countrycode>
    <country>Netherlands Antilles</country>
    <code>599</code>
  </countrycode>
  <countrycode>
    <country>New Caledonia</country>
    <code>687</code>
  </countrycode>
  <countrycode>
    <country>New Zealand</country>
    <code>64</code>
  </countrycode>
  <countrycode>
    <country>Nicaragua</country>
    <code>505</code>
  </countrycode>
  <countrycode>
    <country>Niger</country>
    <code>227</code>
  </countrycode>
  <countrycode>
    <country>Nigeria</country>
    <code>234</code>
  </countrycode>
  <countrycode>
    <country>Niue</country>
    <code>683</code>
  </countrycode>
  <countrycode>
    <country>Norfolk Island</country>
    <code>672</code>
  </countrycode>
  <countrycode>
    <country>Northern Mariana Islands</country>
    <code>1670</code>
  </countrycode>
  <countrycode>
    <country>North Korea</country>
    <code>850</code>
  </countrycode>
  <countrycode>
    <country>Norway</country>
    <code>47</code>
  </countrycode>
  <countrycode>
    <country>Oman</country>
    <code>968</code>
  </countrycode>
  <countrycode>
    <country>Pakistan</country>
    <code>92</code>
  </countrycode>
  <countrycode>
    <country>Palau</country>
    <code>680</code>
  </countrycode>
  <countrycode>
    <country>Panama</country>
    <code>507</code>
  </countrycode>
  <countrycode>
    <country>Papua New Guinea</country>
    <code>675</code>
  </countrycode>
  <countrycode>
    <country>Paraguay</country>
    <code>595</code>
  </countrycode>
  <countrycode>
    <country>Peru</country>
    <code>51</code>
  </countrycode>
  <countrycode>
    <country>Philippines</country>
    <code>63</code>
  </countrycode>
  <countrycode>
    <country>Pitcairn Islands</country>
    <code>870</code>
  </countrycode>
  <countrycode>
    <country>Poland</country>
    <code>48</code>
  </countrycode>
  <countrycode>
    <country>Portugal</country>
    <code>351</code>
  </countrycode>
  <countrycode>
    <country>Puerto Rico</country>
    <code>1</code>
  </countrycode>
  <countrycode>
    <country>Qatar</country>
    <code>974</code>
  </countrycode>
  <countrycode>
    <country>Romania</country>
    <code>40</code>
  </countrycode>
  <countrycode>
    <country>Russia</country>
    <code>7</code>
  </countrycode>
  <countrycode>
    <country>Rwanda</country>
    <code>250</code>
  </countrycode>
  <countrycode>
    <country>Saint Barthelemy</country>
    <code>590</code>
  </countrycode>
  <countrycode>
    <country>Samoa</country>
    <code>685</code>
  </countrycode>
  <countrycode>
    <country>San Marino</country>
    <code>378</code>
  </countrycode>
  <countrycode>
    <country>Sao Tome and Principe</country>
    <code>239</code>
  </countrycode>
  <countrycode>
    <country>Saudi Arabia</country>
    <code>966</code>
  </countrycode>
  <countrycode>
    <country>Senegal</country>
    <code>221</code>
  </countrycode>
  <countrycode>
    <country>Serbia</country>
    <code>381</code>
  </countrycode>
  <countrycode>
    <country>Seychelles</country>
    <code>248</code>
  </countrycode>
  <countrycode>
    <country>Sierra Leone</country>
    <code>232</code>
  </countrycode>
  <countrycode>
    <country>Singapore</country>
    <code>65</code>
  </countrycode>
  <countrycode>
    <country>Slovakia</country>
    <code>421</code>
  </countrycode>
  <countrycode>
    <country>Slovenia</country>
    <code>386</code>
  </countrycode>
  <countrycode>
    <country>Solomon Islands</country>
    <code>677</code>
  </countrycode>
  <countrycode>
    <country>Somalia</country>
    <code>252</code>
  </countrycode>
  <countrycode>
    <country>South Africa</country>
    <code>27</code>
  </countrycode>
  <countrycode>
    <country>South Korea</country>
    <code>82</code>
  </countrycode>
  <countrycode>
    <country>Spain</country>
    <code>34</code>
  </countrycode>
  <countrycode>
    <country>Sri Lanka</country>
    <code>94</code>
  </countrycode>
  <countrycode>
    <country>Saint Helena</country>
    <code>290</code>
  </countrycode>
  <countrycode>
    <country>Saint Kitts and Nevis</country>
    <code>1869</code>
  </countrycode>
  <countrycode>
    <country>Saint Lucia</country>
    <code>1758</code>
  </countrycode>
  <countrycode>
    <country>Saint Martin</country>
    <code>1599</code>
  </countrycode>
  <countrycode>
    <country>Saint Pierre and Miquelon</country>
    <code>508</code>
  </countrycode>
  <countrycode>
    <country>Saint Vincent and the Grenadines</country>
    <code>1784</code>
  </countrycode>
  <countrycode>
    <country>Sudan</country>
    <code>249</code>
  </countrycode>
  <countrycode>
    <country>Suriname</country>
    <code>597</code>
  </countrycode>
  <countrycode>
    <country>Svalbard</country>
    <code></code>
  </countrycode>
  <countrycode>
    <country>Swaziland</country>
    <code>268</code>
  </countrycode>
  <countrycode>
    <country>Sweden</country>
    <code>46</code>
  </countrycode>
  <countrycode>
    <country>Switzerland</country>
    <code>41</code>
  </countrycode>
  <countrycode>
    <country>Syria</country>
    <code>963</code>
  </countrycode>
  <countrycode>
    <country>Taiwan</country>
    <code>886</code>
  </countrycode>
  <countrycode>
    <country>Tajikistan</country>
    <code>992</code>
  </countrycode>
  <countrycode>
    <country>Tanzania</country>
    <code>255</code>
  </countrycode>
  <countrycode>
    <country>Thailand</country>
    <code>66</code>
  </countrycode>
  <countrycode>
    <country>Togo</country>
    <code>228</code>
  </countrycode>
  <countrycode>
    <country>Tokelau</country>
    <code>690</code>
  </countrycode>
  <countrycode>
    <country>Tonga</country>
    <code>676</code>
  </countrycode>
  <countrycode>
    <country>Trinidad and Tobago</country>
    <code>1868</code>
  </countrycode>
  <countrycode>
    <country>Tunisia</country>
    <code>216</code>
  </countrycode>
  <countrycode>
    <country>Turkey</country>
    <code>90</code>
  </countrycode>
  <countrycode>
    <country>Turkmenistan</country>
    <code>993</code>
  </countrycode>
  <countrycode>
    <country>Turks and Caicos Islands</country>
    <code>1649</code>
  </countrycode>
  <countrycode>
    <country>Tuvalu</country>
    <code>688</code>
  </countrycode>
  <countrycode>
    <country>United Arab Emirates</country>
    <code>971</code>
  </countrycode>
  <countrycode>
    <country>Uganda</country>
    <code>256</code>
  </countrycode>
  <countrycode>
    <country>United Kingdom</country>
    <code>44</code>
  </countrycode>
  <countrycode>
    <country>Ukraine</country>
    <code>380</code>
  </countrycode>
  <countrycode>
    <country>Uruguay</country>
    <code>598</code>
  </countrycode>
  <countrycode>
    <country>United States</country>
    <code>1</code>
  </countrycode>
  <countrycode>
    <country>Uzbekistan</country>
    <code>998</code>
  </countrycode>
  <countrycode>
    <country>Vanuatu</country>
    <code>678</code>
  </countrycode>
  <countrycode>
    <country>Holy See (Vatican City)</country>
    <code>39</code>
  </countrycode>
  <countrycode>
    <country>Venezuela</country>
    <code>58</code>
  </countrycode>
  <countrycode>
    <country>Vietnam</country>
    <code>84</code>
  </countrycode>
  <countrycode>
    <country>US Virgin Islands</country>
    <code>1340</code>
  </countrycode>
  <countrycode>
    <country>Wallis and Futuna</country>
    <code>681</code>
  </countrycode>
  <countrycode>
    <country>West Bank</country>
    <code>970</code>
  </countrycode>
  <countrycode>
    <country>Yemen</country>
    <code>967</code>
  </countrycode>
  <countrycode>
    <country>Zambia</country>
    <code>260</code>
  </countrycode>
  <countrycode>
    <country>Zimbabwe</country>
    <code>263</code>
  </countrycode>
</data-set>