<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				fileName="c:\whitespaces\LogFiles\trace.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
				name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="RegionId" value="1" />
    <add key="RegionName" value="RGN"/>
    <add key="RegistrationIdOrg" value="MSFT" />
    <add key="Authority" value="US"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Microsoft.Whitespace.PAWS.Service-20130918124944;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Microsoft.Whitespace.PAWS.Service-20130918124944.mdf" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="RGN1Unity">
        <register
				  type='Microsoft.Whitespace.Common.IAuditor, Microsoft.Whitespace.Common'
				  mapTo='Microsoft.Whitespace.Common.AzureAuditor, Microsoft.Whitespace.Common'>
        </register>
        <register
				  type='Microsoft.Whitespace.Common.IDalcAuditor, Microsoft.Whitespace.Common'
				  mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
				   type='Microsoft.Whitespace.Common.IDalcCommon, Microsoft.Whitespace.Common'
				   mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
				   type='Microsoft.Whitespace.Common.ILogger, Microsoft.Whitespace.Common'
				   mapTo='Microsoft.Whitespace.Common.Logger, Microsoft.Whitespace.Common'>
          <lifetime type='perresolve' />
        </register>
        <register
					type='Microsoft.Whitespace.Common.IDalcPaws, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
					type='Microsoft.Whitespace.Common.IPawsBL, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.PAWS.Manager.PawsManager, Microsoft.Whitespace.PAWS.Manager'>
        </register>
        <register
					type='Microsoft.Whitespace.Common.IDriverPaws, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.Driver.PawsDriver, Microsoft.Whitespace.Driver'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.IRegionCalculation, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.RegionCalculation.FccCalculation, Microsoft.Whitespace.RegionCalculation'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.IPawsValidator, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.Common.Validators.FccPawsValidator, Microsoft.Whitespace.Common'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.ValueProviders.PawsRegionalValueProvider, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.Common.ValueProviders.FccPawsValueProvider, Microsoft.Whitespace.Common'>
        </register>
        <register
			   type='Microsoft.Whitespace.Common.IDalcIncumbent, Microsoft.Whitespace.Common'
			   mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
				type='Microsoft.Whitespace.Common.ITerrainElevation, Microsoft.Whitespace.Common'
				mapTo='Microsoft.Whitespace.Terrain.USGS1ArcReader, Microsoft.Whitespace.Terrain'>
        </register>
        <register
        type='Microsoft.Whitespace.Common.IDalcTerrain, Microsoft.Whitespace.Common'
        mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
      </container>
      <container name="RGN5Unity">
        <register
				  type='Microsoft.Whitespace.Common.IAuditor, Microsoft.Whitespace.Common'
				  mapTo='Microsoft.Whitespace.Common.AzureAuditor, Microsoft.Whitespace.Common'>
        </register>
        <register
				  type='Microsoft.Whitespace.Common.IDalcAuditor, Microsoft.Whitespace.Common'
				  mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
          type='Microsoft.Whitespace.Common.IDalcCommon, Microsoft.Whitespace.Common'
          mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
				   type='Microsoft.Whitespace.Common.ILogger, Microsoft.Whitespace.Common'
				   mapTo='Microsoft.Whitespace.Common.Logger, Microsoft.Whitespace.Common'>
          <lifetime type='perresolve' />
        </register>
        <register
					type='Microsoft.Whitespace.Common.IDalcPaws, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        
        <register
					type='Microsoft.Whitespace.Common.IPawsBL, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.PAWS.Manager.PawsManager, Microsoft.Whitespace.PAWS.Manager'>
        </register>
        <register
			   type='Microsoft.Whitespace.Common.IDalcIncumbent, Microsoft.Whitespace.Common'
			   mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
					type='Microsoft.Whitespace.Common.IDriverPaws, Microsoft.Whitespace.Common'
					mapTo='Microsoft.Whitespace.Driver.PawsDriver, Microsoft.Whitespace.Driver'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.IRegionCalculation, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.RegionCalculation.OfcomCalculation, Microsoft.Whitespace.RegionCalculation'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.IPawsValidator, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.Common.Validators.OfcomPawsValidator, Microsoft.Whitespace.Common'>
        </register>
        <register
				 type='Microsoft.Whitespace.Common.ValueProviders.PawsRegionalValueProvider, Microsoft.Whitespace.Common'
				 mapTo='Microsoft.Whitespace.Common.ValueProviders.OfcomPawsValueProvider, Microsoft.Whitespace.Common'>
        </register>
        <register
				type='Microsoft.Whitespace.Common.ITerrainElevation, Microsoft.Whitespace.Common'
				mapTo='Microsoft.Whitespace.Terrain.USGS1ArcReader, Microsoft.Whitespace.Terrain'>
        </register>
        <register
        type='Microsoft.Whitespace.Common.IDalcTerrain, Microsoft.Whitespace.Common'
        mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
      </container>
    </containers>
  </unity>
</configuration>