<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers>
      <container name="SharedCommon">
        <register
				type='Microsoft.Whitespace.Common.IAuditor, Microsoft.Whitespace.Common'
				mapTo='Microsoft.Whitespace.Common.AzureAuditor, Microsoft.Whitespace.Common'>
        </register>
        <register
            type='Microsoft.Whitespace.Common.ILogger, Microsoft.Whitespace.Common'
            mapTo='Microsoft.Whitespace.Common.Logger, Microsoft.Whitespace.Common'>
          <lifetime type='perresolve' />
        </register>
        <register
          type='Microsoft.WhiteSpaces.AzureOAuthProvider.IUserManager, Microsoft.WhiteSpaces.AzureOAuthProvider'
          mapTo='Microsoft.WhiteSpaces.AzureOAuthProvider.UserManager, Microsoft.WhiteSpaces.AzureOAuthProvider'>
        </register>
        <register
       type='Microsoft.WhiteSpaces.DataAccessManager.IUsersDataAccess,Microsoft.WhiteSpaces.DataAccessManager'
       mapTo='Microsoft.WhiteSpaces.DataAccessManager.UsersDataAccess, Microsoft.WhiteSpaces.DataAccessManager'>
        </register>
        <register
      type='Microsoft.WhiteSpaces.DataAccessManager.IRegionDataAccess,Microsoft.WhiteSpaces.DataAccessManager'
      mapTo='Microsoft.WhiteSpaces.DataAccessManager.RegionDataAccess, Microsoft.WhiteSpaces.DataAccessManager'>
        </register>
        <register
         type='Microsoft.WhiteSpaces.BusinessManager.IWhitespacesManager,Microsoft.WhiteSpaces.BusinessManager'
         mapTo='Microsoft.WhiteSpaces.BusinessManager.WhitespacesManager, Microsoft.WhiteSpaces.BusinessManager'>
        </register>
        <register
         type='Microsoft.WhiteSpaces.BusinessManager.IUserAdminManager,Microsoft.WhiteSpaces.BusinessManager'
         mapTo='Microsoft.WhiteSpaces.BusinessManager.UserAdminManager, Microsoft.WhiteSpaces.BusinessManager'>
        </register>
        <register
         type='Microsoft.WhiteSpaces.BusinessManager.IPublicDataManager,Microsoft.WhiteSpaces.BusinessManager'
         mapTo='Microsoft.WhiteSpaces.BusinessManager.PublicDataManager, Microsoft.WhiteSpaces.BusinessManager'>
        </register>
        <register
         type='Microsoft.WhiteSpaces.BusinessManager.IRegionManager,Microsoft.WhiteSpaces.BusinessManager'
         mapTo='Microsoft.WhiteSpaces.BusinessManager.RegionManager, Microsoft.WhiteSpaces.BusinessManager'>
        </register>
      </container>

      <!-- Microsoft.Whitespace.Dalc components that are not specific to a region -->
      <container name="SharedDalc">
        <register
          type='Microsoft.Whitespace.Common.IDalcAuditor, Microsoft.Whitespace.Common'
          mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
            type='Microsoft.Whitespace.Common.IDalcCommon, Microsoft.Whitespace.Common'
            mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
          type='Microsoft.Whitespace.Common.IDalcPaws, Microsoft.Whitespace.Common'
          mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
          type='Microsoft.Whitespace.Common.IDalcIncumbent, Microsoft.Whitespace.Common'
          mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
        type='Microsoft.Whitespace.Common.IDalcTerrain, Microsoft.Whitespace.Common'
        mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
            type='Microsoft.Whitespace.Common.IDalcDBSync, Microsoft.Whitespace.Common'
            mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
         type='Microsoft.Whitespace.Common.IDalcDTTAvailabilitySync, Microsoft.Whitespace.Common'
         mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
           type='Microsoft.Whitespace.Common.IDalcPMSE, Microsoft.Whitespace.Common'
           mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
           type='Microsoft.Whitespace.Common.IDalcPmseSync, Microsoft.Whitespace.Common'
           mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register
           type='Microsoft.Whitespace.Common.IDalcUserManagement, Microsoft.Whitespace.Common'
           mapTo='Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc'>
        </register>
        <register type="Microsoft.Whitespace.Common.IDalcRegionSync, Microsoft.Whitespace.Common"
                  mapTo="Microsoft.Whitespace.Dalc.AzureDalc, Microsoft.Whitespace.Dalc">
        </register>
      </container>      
    </containers>
  </unity>
</configuration>
