<?xml version="1.0" encoding="utf-8"?>
  <appSettings>    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="AuthorizationSchema" value="oAuth" />
    <add key="DefaultConfig" value="Microsoft.Whitespace.Common.AzureConfig" />
  </appSettings>
