<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


@{
    ViewBag.Title = "Login Failure";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Unsuccessful login with service.</h2>
</hgroup>

