#!/bin/bash

# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Files/directories that should never be present in a clean,
# standard release build. 
RELEASE_FILE_BLACKLIST=(
# Flag-file indicating "developer mode", crosh offers "shell" if present:
/root/.dev_mode

# Should not ship with a local account pre-set on the system
/opt/google/chrome/localaccount

# Generation of this should happen on-device. Don't want to introduce
# any cryptohome-related weaknesses e.g. everyone using the same salt.
/home/.shadow
)
