[Unit]
Description=Osmocom osmo-bts for osmo-trx

[Service]
Type=simple
ExecStart=/usr/bin/osmo-bts-trx -s -c /etc/osmocom/osmo-bts-trx.cfg
Restart=always
RestartSec=2

# Let it process messages quickly enough
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1

[Install]
WantedBy=multi-user.target
