#!/bin/bash

# Copyright (c) 2012 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

expected_auserver="https://tools.google.com/service/update2"
expected_release_name="Chrome OS"

# List boards here
expected_boards=(
    x86-mario
    x86-alex-signed-mp-v3keys
)

# List track names here
expected_release_tracks=(
    canary-channel
    dogfood-channel
    beta-channel
    dev-channel
)

# Associate board names with APPID's by creating a series
# of variables here. Variables should be named based on 
# expected boards (above), with hyphens transposed to
# underscores (to be legal in variable names).
expected_appid_x86_mario="{87efface-864d-49a5-9bb3-4b050a7c227a}"
expected_appid_x86_alex="{C776D42E-287A-435E-8BA7-E770BD30B46D}"
expected_appid_canary="{90F229CE-83E2-4FAF-8479-E368A34938B1}"
expected_appid_dogfood="{4897842343-83E2-4FAF-8479-E368A34938B1}"
