/build
/build-au
/build-main
ID
scripts/newbitmaps/images/out_*
scripts/newbitmaps/lib/*.pyc
scripts/newbitmaps/strings/font
scripts/newbitmaps/strings/localized_text/*/*.png
scripts/newbitmaps/strings/*.png
