<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


<div id="about">
    <h2>
        About
    </h2>
    <p>
        The Microsoft Research White Space Database enables users to learn about the available
        TV white spaces spectrum, i.e., unoccupied TV channels, at a given location in Singapore.
        A user can specify a location and device type, and our service returns a list of
        TV channels that can be used for voice, video, and data communication along with
        the allowed power levels on each channel. We build upon our experience building
        similar white space databases for the United States, United Kingdom, and other locations
        and have customized the database to meet the requirements set forth by the IDA for
        Singapore.
    </p>
    <p>
        The web service has support for the device vendors, licensees, and administrators.
        Device vendors can query the web service, and the result includes the list of channels
        available for data communication, the allowed power limit, the noise-level on the
        channel and information about why a channel is unavailable. Licensees can register
        their devices, change the location and their transmission parameters. Administrators,
        such as the Singapore Infocomm Development Authority (IDA), have many more rights.
        They can add and remove primary users, including their transmit power, heights,
        and other features. They can also implement different techniques to determine white
        space availability, including different propagation models, detection thresholds,
        and other configuration parameters.
    </p>
    <p>
        Our web service is built on a solid understanding of the research principles behind
        white space networking. Microsoft Research&#39;s paper describing the details of
        the service was published in IEEE DySPAN 2011. This web service started out as a
        research prototype, and has been used by several academics, including MIT, Harvard,
        UIUC, and Berkeley, for their research.
    </p>
    <p>
        This site and the web service are being maintained by the Microsoft Technology Policy
        Group (TPG) and Microsoft Research.
    </p>
</div>
