<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->



@{
    ViewBag.Title = "Error";
}

@section Left{
<h1 class="text-danger">Error</h1>
}

@section Right{
   <P class="text-danger">An unknown error occurred, our team will look into this.</P>
}





