<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


<h2>Overview</h2>

<div id="howItWorksPopup">

        
        <div class="cont">
            <div class="how-it-works">
                <div class="content">
                    <ul>
                        <li>
                            <img src="~/Content/Images/img2.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img4.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img5.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img6.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img7.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img9.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img10.png" />
                        </li>
                        <li>
                            <img src="~/Content/Images/img11.png" />
                        </li>
                    </ul>
                </div>
                <button id="nextSlide" type="button" class="icon" title="Next"></button>
                <button id="previousSlide" type="button" class="icon" title="Previous"></button>
                <nav class="controller">
                    <ul>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scA" checked="checked" />
                            <label for="scA">A</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scB" />
                            <label for="scB">B</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scC" />
                            <label for="scC">C</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scD" />
                            <label for="scD">D</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scE" />
                            <label for="scE">E</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scF" />
                            <label for="scF">F</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scG" />
                            <label for="scG">G</label>
                        </li>
                        <li>
                            <input type="radio" name="slideControl" class="hide" id="scH" />
                            <label for="scH">H</label>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
<div class="content">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>

    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

    <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.</p>

    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est.
    </p>
</div>
