<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy</h2>
@section Left{
    <section>
        <div class="title">
            <a href="#" onclick="history.go(-1)" title="back" role="link" class="back icon"></a>
            <h3>Privacy Statement</h3>
        </div>
    </section>
}

@section Right{
    <div class="summary-pane accordion" id="dvPrivacy">
        <div class="container">
            <p>
                Last updated: February 2012 - Microsoft is committed to protecting your privacy.
                This privacy statement applies to the data collected by Microsoft through the Spectrum
                Observatory site (the "Site"); it does not apply to other online or offline Microsoft
                sites, products, or services.
            </p>
            <h4>
                Collection of Your Information
            </h4>
            <p>
                We will ask you when we need information that personally identifies you or allows
                us to contact you.
            </p>
            <p>
                We may collect information about your visit to the Site. For example, we may use
                Web site analytics tools to retrieve information from your browser, including the
                site you came from, the search engine(s) and the keywords you used to find our Site,
                the pages you view within the Site, your browser add-ons, and your browser's width
                and height. Additionally, we collect certain standard information that your browser
                sends to every Web site you visit, such as your IP address, browser type and language,
                access times and referring Web site addresses.
            </p>
            <p>
                In order to offer you a more consistent and personalized experience in your interactions
                with Microsoft, information collected through one Microsoft service may be combined
                with information obtained through other Microsoft services. We may also supplement
                the information we collect with information obtained from other companies. For example,
                we may use services from other companies that enable us to derive a general geographic
                area based on your IP address in order to customize certain services to your geographic
                area.
            </p>
            <h4>
                Use of Your Information
            </h4>
            <p>
                The information collected on this Site will be used to operate the Site and to provide
                the service(s) or carry out the transaction(s) you have requested or authorized.
                Information collected during a session may also be used to personalize your advertising
                experience during that session.
            </p>
            <p>
                In support of these uses, Microsoft may use your information to provide you with
                more effective customer service, improve the Site and any related Microsoft products
                or services, perform statistical analysis, and make the Site easier to use by eliminating
                the need for you to repeatedly enter the same information or by customizing the
                Site to your particular preferences or interests.
            </p>
            <p>
                We may use your information to provide you with important information about the
                product or service that you are using, including critical updates and notifications.
                Additionally, with your permission, we may send you information about other Microsoft
                products and services, and/or share your personal information with Microsoft partners
                so they may send you information about their products and services.
            </p>
            <p>
                Microsoft occasionally hires other companies to provide limited services on
                our behalf, such as Web site hosting, packaging, mailing, and delivering prizes,
                answering customer questions about products and services, and sending information
                about our products, special offers, and other new services. We will only provide
                those companies the personal information they need to deliver the service. They
                are required to maintain the confidentiality of the information and are prohibited
                from using that information for any other purpose. We may access or disclose information
                about you, including the content of your communications, in order to: (a) comply
                with the law or respond to lawful requests or legal process; (b) protect the rights
                or property of Microsoft or our customers, including the enforcement of our agreements
                or policies governing your use of the services; or (c) act on a good faith belief
                that such access or disclosure is necessary to protect the personal safety of Microsoft
                employees, customers or the public. We may also disclose personal information as
                part of a corporate transaction such as a merger or sale of assets.
            <p>
            <p>
                Information that is collected on the Site may be stored and processed in the United
                States or any other country in which Microsoft or its affiliates, subsidiaries,
                or service providers maintain facilities. Microsoft abides by the safe harbor framework
                as set forth by the U.S. Department of Commerce regarding the collection, use, and
                retention of data from the European Union, the European Economic Area, and Switzerland.
            </p>
            <h4>
                Control of Your Information
            </h4>
            <p>
                Except as otherwise described in this statement, personal information you provide
                on the Site will not be shared outside of Microsoft and its controlled subsidiaries
                and affiliates without your permission.
            </p>
            <p>
                Please be aware that this privacy statement and any choices you make on the Site
                will not necessarily apply to personal information you may have provided to Microsoft
                in the context of other, separately operated, Microsoft products or services.
            </p>
            <h4>
                Security of Your Information
            </h4>
            <p>
                At Microsoft, we take the security of your personal information very seriously.
                We use a variety of security technologies and procedures to help protect your personal
                information from unauthorized access, use, or disclosure. For example, we store
                the personal information you provide on computer servers with limited access that
                are located in controlled facilities. Additionally, if we transmit sensitive personal
                information (such as a credit card number) over the Internet, we protect it through
                the use of encryption, such as the Secure Socket Layer (SSL) protocol.
            </p>
            <h4>
                Use of Cookies
            </h4>
            <p>
                We may use cookies on this Site to enable you to sign in to our services or to help
                personalize the Site. A cookie is a small text file that is placed on your hard
                disk by a Web server. Cookies contain information that can later be read by a Web
                server in the domain that issued the cookie to you. Cookies cannot be used to run
                programs or deliver viruses to your computer. One of the primary purposes of cookies
                is to provide a convenience feature to save you time. For example, if you personalize
                a Web page, or navigate within a site, a cookie helps the site to recall your specific
                information on subsequent visits. This simplifies the process of delivering relevant
                content, eases site navigation, and so on. When you return to the Web site, the
                information you previously provided can be retrieved, so you can easily use the
                site's features that you customized. You have the ability to accept or decline cookies.
                Most Web browsers automatically accept cookies, but you can usually modify your
                browser setting to decline cookies if you prefer. If you are using Internet Explorer,
                search for "Cookies" in the Help menu to find detailed instructions. If you choose
                to decline cookies, you may not be able to use interactive features of this or other
                Web sites that depend on cookies.
            </p>
            <h4>
                Use of Web Beacons
            </h4>
            <p>
                Pages on this Site may contain electronic images known as Web beacons - sometimes
                called single-pixel gifs - that may be used to assist in delivering cookies, to
                allow us to count users who have visited those pages, and to deliver co-branded
                services. We may also include Web beacons in promotional e-mail messages or our
                newsletters in order to determine whether messages have been opened and acted upon.
            </p>
            <p>
                Microsoft may also employ Web beacons from third parties in order to help us compile
                aggregated statistics and determine the effectiveness of our promotional campaigns
                or other operations of our sites. We prohibit Web beacons on our sites from being
                used by third parties to collect or access your personal information. We may work
                with other companies that advertise on our sites to place Web beacons on their sites
                in order to allow us to develop statistics on how often clicking on an advertisement
                on a Microsoft site results in a purchase or other action on the advertiser's site.
            </p>
            <h4>
                Display of Advertising
            </h4>
            <p>
                Many of the Web sites and online services we offer, as well as those of our partners,
                are supported by advertising. Through our ad delivery platform, we may display ads
                on our own sites and the sites of our advertising partners.
            </p>
            <p>
                When we display online advertisements to you, we will place a persistent cookie
                on your computer in order to recognize your computer each time we display an ad
                to you. Because we may serve advertisements on many different Web sites, we are
                able to compile information over time about where you, or others who are using your
                computer, saw and/or clicked on the advertisements we display. We use this information
                to make predictions about your characteristics, interests, or preferences, and to
                display targeted advertisements that we believe may be of interest to you. We may
                also associate this information with your subsequent visit, purchase, or other activity
                on participating advertisers' Web sites in order to determine the effectiveness
                of the advertisements.
            </p>
            <p>
                While we may use some of the information we collect in order to personalize the
                ads we show you, we designed our systems to select ads based only on data that does
                not personally and directly identify you. For example, we may select the ads we
                display according to certain general interest categories or segments that we have
                inferred based on (a) demographic or interest data, including any you may have provided
                when creating an account (e.g. age, zip or postal code, and gender), demographic
                or interest data acquired from other companies, and a general geographic location
                derived from your IP address; (b) the pages you view and links you click when using
                Microsoft’s and its advertising partners’ Web sites and services; and (c) the search
                terms you enter when using Microsoft’s Internet search services, such as Live Search.
            </p>
            <p>
                As we serve ads, we take a number of steps designed to protect your privacy. For
                example, we store page views, clicks, and search terms used for ad personalization
                separately from your contact information or other data that directly identifies
                you (such as your name, e-mail address, etc.). Further, we have built in administrative,
                technical, and physical safeguards designed to prevent the unauthorized correlation
                of this data. We also give you the ability to opt-out of personalized ads. For more
                information or to use the opt-out feature, you may visit our <a href="http://choice.live.com/advertisementchoice">
                    opt-out page
                </a>. We also provide third party ad delivery through our Atlas
                subsidiary, and you may read the Atlas privacy statement at <a href="http://www.atlassolutions.com/privacy.aspx">
                    http://www.atlassolutions.com/privacy.aspx
                </a>. Although the majority of the
                online advertisements on Microsoft sites are displayed by Microsoft, we also allow
                third-party ad-serving companies, including other ad networks, to display advertisements
                on our sites. These companies currently include, but are not limited to: <a href="http://www.247realmedia.com/EN-US">
                    24/7 Real Media
                </a>, <a href="http://www.advertising.com">Advertising.com</a>,
                <a href="http://www.bidclixcom">Bidclix</a>, <a href="http://www.bluestreak.com/index.html">
                    BlueStreak
                </a>, <a href="http://burstmedia.com">Burst Media</a>, <a href="http://www.google.com/doubleclick">
                    DoubleClick
                </a>, <a href="http://www.euroclick.com">EuroClick</a>, <a href="http://www.mediamind.com">
                    Eyeblaster
                </a>, <a href="http://www.eyewonder.com">EyeWonder</a>, <a href="http://www.falkag.de">
                    Falk
                </a>, <a href="http://www.interpolls.com">Interpolls</a>, <a href="http://www.kanoodle.com">
                    Kanoodle
                </a>, <a href="http://www.mediaplex.com">Mediaplex</a>,
                <a href="http://www.pointroll.com">Pointroll</a>, <a href="http://www.tangozebra.com">
                    TangoZebra
                </a>, <a href="http://marketinginfo.yahoo.com/contactForm/contact2011/.ashx?n=11&cc=USWBYASP&msc=2761">
                    Yahoo! Publisher Network
                </a>, and <a href="http://www.zedo.com">Zedo</a>.
            </p>
            <p>
                These companies may offer you a way to opt out of ad targeting based on their cookies.
                You may find more information by clicking on the company names above and following
                the links to the Web sites of each company. Some of these companies are members
                of the <a href="http://www.networkadvertising.org">Network Advertising Initiative</a>,
                which offers a single location to opt out of ad targeting from member companies.
            </p>
            <h4>
                Changes to this Privacy Statement
            </h4>
            <p>
                We may occasionally update this privacy statement. When we do, we will also revise
                the "last updated" date at the top of the privacy statement. For material changes
                to this privacy statement, we will notify you either by placing a prominent notice
                on the home page of our Web site or by directly sending you a notification. We encourage
                you to periodically review this privacy statement to stay informed about how we
                are helping to protect the personal information we collect.
            </p>
            <h4>
                Contact Information
            </h4>
            <p>
                Microsoft welcomes your comments regarding this privacy statement. If you have questions
                about this statement or believe that we have not adhered to it, please contact us.
            </p>
            <p>
                <strong>Microsoft Corporation</strong><br />
                Technical Policy Group<br />
                One Microsoft Way<br />
                Redmond, WA 98052-6399 USA
            </p>
        </div>
    </div>
}

@section scripts{
    <script language="javascript" type="text/javascript">
        $('#dvPrivacy').perfectScrollbar({
            wheelSpeed: 20,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
    </script>
}

