<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TermsOfUse</h2>
@section Left{
    <section>
        <div class="title">
            <a href="#" onclick="history.go(-1)" title="back" role="link" class="back icon"></a>
            <h3>Terms Of Use</h3>
        </div>
    </section>
}

@section Right{
    <div class="summary-pane accordion" id="dvTermsOfUse">
        <div class="container">
            <p>
                <em>Last updated: April 2010</em>
            </p>
            <p>
                This is a contract between you and Microsoft Corporation. This contract sometimes
                refers to Microsoft as “we,“ “us“ or “our.“
                This contract applies to any Microsoft Research Web sites (and their successor sites),
                services (including research/pre-release services) and software, including all updates,
                support, and content that display or link to this contract and that you use while
                this contract is in force. This contract refers to all of these as the “service.“
                You represent that you are at least 18 years of age or have attained the age of
                majority where you live, and that all information you supply is true and correct.
                Your use of the service may be subject to posted notices or codes of conduct. All
                such notices and codes of conduct are incorporated by reference into this contract.
            </p>
            <p>
                You may use the service only if you agree to these terms. If you do not agree, do
                not use the service. This contract limits our liability and disclaims warranties
                for the service to the maximum extent permitted by law. Please read these sections
                of the contract carefully.
            </p>
            <h4>1. When You May Use the Services</h4>
            <p>
                Some services may require you to create an account to use the service. If so, you
                may start using the service as soon as you have finished the sign‑up process.
                Some parts of the service may not be available right away while we configure them
                for your use.
            </p>
            <h4>2. Personal and Non-Commercial Use of the Service</h4>
            <p>
                The services are provided to you for testing, evaluation and providing feedback
                to Microsoft. They may not be used in production or for any commercial purposes.
                Examples of commercial purposes include running business operations, licensing,
                leasing, or selling the services, or any other activity which purpose is to procure
                a commercial gain to you or others.
            </p>
            <h4>3. How You May Use the Service</h4>
            <ul>
                In using the service, you must
                <br>
                <br>
                <li>
                    obey all applicable laws, rules and regulations,
                </li>
                <li>obey any codes of conduct or other notices we provide,</li>
                <li>
                    obey the <a href="http://privacy.microsoft.com/en-us/anti-spam.mspx" target="_blank">
                        Microsoft Anti-Spam
                        Policy
                    </a>,
                </li>
                <li>keep any service account password secret, and</li>
                <li>promptly notify us if you learn of a security breach related to the service.</li>
            </ul>
            <h4>4. How You May Not Use the Service</h4>
            <ul>
                In using the service, you may not
                <br>
                <br>
                <li>engage in, facilitate, or further unlawful conduct;</li>
                <li>
                    use the service in any way that harms Microsoft or its advertisers, affiliates,
                    resellers, distributors and/or vendors or any customer of ours or customer of our
                    advertisers, affiliates, resellers, distributors or vendors,;
                </li>
                <li>
                    use any portion of the service as a destination linked from any unsolicited bulk
                    messages or unsolicited commercial messages (“spam“);
                </li>
                <li>
                    publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory,
                    obscene, indecent or unlawful information;
                </li>
                <li>
                    upload, or otherwise make available, files that contain images, photographs, software
                    or other material protected by intellectual property laws, including, by way of
                    example, and not as limitation, copyright or trademark laws (or by rights of privacy
                    or publicity) unless you own or control the rights thereto or have received all
                    necessary consent to do the same;
                </li>
                <li>
                    use any automated process or service to access and/or use the service (such as a
                    BOT, a spider, periodic caching of information stored by Microsoft or “meta-searching“);
                </li>
                <li>
                    use any unauthorized means to modify or reroute, or attempt to modify or reroute,
                    the service;<p></p>
                </li>
                <li>
                    damage, disable, overburden, or impair the service (or the network(s) connected
                    to the service) or interfere with anyone's use and enjoyment of the service;
                    or
                </li>
                <li>resell or redistribute the service, or any part of the service.</li>
            </ul>
            <h4>5. You Are Responsible For Your Service Account</h4>
            <p>
                Only you may use your service account. You are responsible for all activity that
                takes place with your service account. You may not authorize any third party to
                access and/or use the service on your behalf except where Microsoft provides a mechanism
                for third parties to access the service on your behalf.
            </p>
            <h4>6. How We May Change This Contract</h4>
            <p>
                Microsoft may change this contract at any time without notice. If you do not stop
                using the service, your continued use of the service will be under the changed contract.
            </p>
            <h4>7. Changes to the Service; If We Cancel the Service</h4>
            <p>
                We may change the service or delete features at any time and for any reason. We
                may cancel or suspend your service at any time. Our cancellation or suspension may
                be without cause and/or without notice. Upon service cancellation, your right to
                use the service stops immediately. Once the service is cancelled or suspended, any
                data you have stored on the service might not be available to you later. You are
                responsible for taking necessary steps to back up your data.
            </p>
            <h4>8. Your Content</h4>
            <p>
                You may be able to submit content for use in connection with the service. You understand
                that Microsoft does not control or endorse the content that you and others post
                or provide on the service. Except for material that we license to you, we do not
                claim ownership of the content you post or provide on the service. The service may
                include public areas available to the general public and shared areas available
                to others you or Microsoft have selected. If you share content with others on the
                service, in either public or shared areas, then you understand that others with
                whom you have shared content may use that content. You understand that Microsoft
                may need and you hereby authorize Microsoft to use, modify, copy, distribute and
                display content posted on the service to the extent necessary to provide the service.
                This includes:
            </p>
            <ul>
                <li>storing and retrieving the content;</li>
                <li>
                    making the content available to you and to those members of the public who have
                    access;
                </li>
                <li>conforming to connecting networks' technical requirements; and</li>
                <li>conforming to the limitations and terms of the service.</li>
            </ul>
            <p>
                You understand that sharing content that violates others' copyrights and other intellectual
                property rights violates this contract. You represent and warrant that you have
                all the rights necessary for you to grant the rights in this section and that the
                use and publication of the content does not breach any law. We will not pay you
                for your content. We may refuse to publish your content and may remove your content
                from the service at any time.
            </p>
            <h4>9. Links to Third-party Web Sites.</h4>
            <p>
                The service may contain links to third-party Web sites. These third-party Web sites
                are not under Microsoft's control. If Microsoft has included these links in
                the service, we provide them to you as a convenience only. The inclusion of these
                links is not an endorsement by Microsoft of any third-party Web site, service or
                product. Microsoft reserves the right to disable links to any third-party Web site
                that you or other customers post on the service.
            </p>
            <h4>10. Privacy Notice:</h4>
            <p>
                See the <a href="http://privacy.microsoft.com/en-us/default.mspx" target="_blank">Privacy Statement</a> disclosures relating to the collection
                and use of your information.
            </p>
            <h4>11. Software</h4>
            <p>
                If you receive software from us as part of the service, your use of that software
                is under the terms of the license that is presented to you for acceptance for that
                software. If there is no license presented to you, then we grant you the right to
                use the software only for the use of the service authorized under this contract
                and only on that number of computers stated in your service offer. We reserve all
                other rights to the software.
            </p>
            <p>
                We may automatically check your version of the software. We may automatically download
                upgrades to the software to your computer to update, enhance and further develop
                the service. Unless we notify you otherwise, your license to use the software will
                end on the date your service ends, and you must promptly uninstall the software.
                We may disable the software after the date the service ends.
            </p>
            <p>
                You will not disassemble, decompile, or reverse engineer any software included in
                the service, except and only to the extent that the law expressly permits this activity.
            </p>
            <p>
                The software is subject to United States export laws and regulations. You must comply
                with all domestic and international export laws and regulations that apply to the
                software. These laws include restrictions on destinations, end users and end use.
                For additional information, see <a href="http://www.microsoft.com/exporting" target="_blank">www.microsoft.com/exporting</a>.
            </p>
            <h4>12. Materials that Microsoft Licenses to You</h4>
            <ul>
                <li>
                    <strong>Documents.</strong> You may have access to information on the service such
                    as white papers, knowledge-base articles, datasheets and FAQs ("documents"). You
                    may use the documents only for informational purposes. You may not copy, distribute,
                    modify or make derivative works of the documents. Educational institutions that
                    are officially accredited under local law may download and copy the documents for
                    distribution only in the classroom.
                </li>
                <li>
                    <strong>Limitations.</strong> The license grant to use documents provided with the
                    service does not include a license to the design or layout of the service or any
                    Microsoft owned, operated, licensed or controlled Web site. You should not copy
                    or retransmit any logo, graphic, sound or image from the service, unless Microsoft
                    expressly permits it. Microsoft and its suppliers do not warrant or guarantee that
                    the documents are accurate and suitable for your purposes. Their inclusion with
                    the service is not an endorsement of them by Microsoft. Nothing available from the
                    service is intended to be professional advice, including but not limited to, investment,
                    tax or legal advice.
                </li>
            </ul>
            <h4>13. Microsoft Authentication Network</h4>
            <p>
                We may provide you with credentials on our authentication network to use with the
                service. You are solely responsible for any dealings with third parties (including
                advertisers) who use our authentication network, including the delivery of and payment
                for goods. This contract applies to you whenever you use the credentials you obtained
                with the service. When you use our authentication network to gain access to any
                site, the terms and conditions for that site, if different from this contract, may
                also apply to you in your use of that site. Please refer to the terms of use for
                each site that you visit. We may cancel or suspend your access to our authentication
                network for inactivity, which we define as failing to sign in to our authentication
                network for an extended period, as determined by us. If we cancel your credentials,
                your right to use our authentication network immediately ceases.
            </p>
            <h4>14. Feedback</h4>
            <p>
                If you give us feedback, you give Microsoft, without charge, the right to use, share
                and commercialize your feedback in any way and for any purpose. You also give to
                third parties, without charge, any patent rights needed for their products, technologies
                and services to use or interface with any specific parts of a Microsoft site, software
                or service that includes the feedback. You will not give feedback that is subject
                to a license that requires Microsoft to license its software or documentation to
                third parties because we include your feedback in them. These rights survive this
                contract.
            </p>
            <h4>15. Our Notices to You; Your Notices to Us</h4>
            <p>
                This contract is in electronic form. We have the right to send you information about
                the services in electronic form. There may be information about the services that
                the law requires us to send to you. We may send this information to you in electronic
                form.
            </p>
            <ul>
                <strong>We may provide required information to you</strong>
                <br>
                <br>
                <li>
                    <strong>
                        by e-mail at the e-mail address you specified when you signed up for the
                        service, or
                    </strong>
                </li>
                <li>
                    <strong>
                        by access to a Microsoft web site that will be designated in an e-mail notice
                        sent to you at the time the information is available; or
                    </strong>
                </li>
                <li>
                    <strong>
                        by access to a Microsoft web site that will be generally designated in advance
                        for this purpose.
                    </strong>
                </li>
            </ul>
            <p>
                <strong>
                    Notices provided to you via e-mail will be deemed given and received on the
                    transmission date of the e-mail.
                </strong> As long as you can access and use
                the service, you have the necessary software and hardware to receive these notices.
                If you do not consent to receive notices electronically, you must stop using the
                service.
            </p>
            <h4>16. No Warranty</h4>
            <p>
                <strong>
                    We provide the service “as-is,“ “with all faults“ and
                    “as available.“ Microsoft makes no guarantee about the reliability,
                    accuracy or timeliness of information available from the service
                </strong>
            </p>
            <p>
                <strong>
                    We and our affiliates, resellers, distributors and vendors (collectively, the
                    “Microsoft Parties“) give no express warranties, guarantees or conditions.
                    You bear the risk of using it. You may have additional consumer rights under your
                    local laws that this contract cannot change. We exclude any implied warranties or
                    conditions including those of merchantability, fitness for a particular purpose,
                    workmanlike effort, and non-infringement.
                </strong>
            </p>
            <h4>17. Liability Limitation</h4>
            <p>
                <strong>
                    Microsoft will not be liable to you for any damages related to the services,
                    including direct, consequential, lost profits, special, indirect or incidental damages,
                    to the maximum extent the law permits.
                </strong>
            </p>
            <ul>
                This limitation applies to anything related to:
                <br>
                <br>
                <li>the service,</li>
                <li>
                    content (including code) on third party Internet sites, third party programs or
                    third party conduct,
                </li>
                <li>viruses or other disabling features that affect your access to or use of the service,</li>
                <li>incompatibility between the service and other services, software and hardware,</li>
                <li>
                    delays or failures you may have in initiating, conducting or completing any transmissions
                    or transactions in connection with the service in an accurate or timely manner,
                    and
                </li>
                <li>
                    claims for breach of contract, breach of warranty, guarantee or condition, strict
                    liability, negligence, or other tort.
                </li>
            </ul>
            <p>
                It also applies even if
            </p>
            <ul>
                <li>
                    this remedy does not fully compensate you for any losses, or fails of its essential
                    purpose, or
                </li>
                <li>Microsoft knew or should have known about the possibility of the damages.</li>
            </ul>
            <p>
                <strong>
                    Some states do not allow the exclusion or limitation of incidental or consequential
                    damages, so the above limitations or exclusions may not apply to you. They also
                    may not apply to you because your province or country may not allow the exclusion
                    or limitation of incidental, consequential or other damages.
                </strong>
            </p>
            <h4>18. Applicable Law and Place for Resolving Disputes</h4>
            <p>
                Washington state law governs the interpretation of this contract and applies to
                claims for breach of it, regardless of conflict of laws principles. All other claims,
                including claims regarding consumer protection laws, unfair competition laws, and
                in tort, will be subject to the laws of your state of residence in the United States,
                or if you live outside the United States, the laws of the country to which we direct
                your service. You and we irrevocably consent to the exclusive jurisdiction and venue
                of the state or federal courts in King County, Washington, USA for all disputes
                arising out of or relating to this contract.
            </p>
            <h4>19. Contract Interpretation</h4>
            <p>
                All parts of this contract apply to the maximum extent permitted by law. A court
                may hold that we cannot enforce a part of this contract as written. If this happens,
                then that part will be replaced with terms that most closely match the intent of
                the part that we cannot enforce. The rest of this contract will not change. This
                contract, together with any codes of conduct and other notices we provide, is the
                entire contract between Microsoft and you regarding the service. It supersedes any
                other contract or statements related to the service. If you have confidentiality
                obligations related to the service, those obligations remain in force (for example,
                you may have been a tester for a pre-release version of a service). The section
                titles in the contract do not limit the other terms of this contract.
            </p>
            <h4>20. Assignment</h4>
            <p>
                Microsoft may assign this contract, in whole or part, at any time without notice
                to you. You may not assign this contract, or any part of it, to any other party.
                Any attempt to do so is void. You may not transfer to anyone else, either temporarily
                or permanently, any rights to use the service or any part of the service.
            </p>
            <h4>21. Force Majeure</h4>
            <p>
                Microsoft will not be liable for any loss or damage or be deemed to be in breach
                of this contract due to any event or circumstance beyond its reasonable control,
                including, war, invasion, electrical shortages, terrorist attacks, earthquakes or
                acts of God.
            </p>
            <h4>22. Notices</h4>
            <p>
                <strong>Copyright Notice.</strong><br>
                All contents of the service are Copyright © 2010 Microsoft Corporation and/or
                its suppliers, One Microsoft Way, Redmond, Washington 98052-6399 U.S.A. All rights
                reserved.
            </p>
            <p>
                <strong>Respect Copyright</strong><br>
                Please respect the rights of artists and creators. Content such as music, photos
                and video may be protected by copyright. People appearing in content may have a
                right to control use of their image. You may not share other people's content
                unless you own the rights, have permission from the owner, or such sharing is otherwise
                legal.
            </p>
            <p>
                <strong>Trademark Notice</strong><br>
                Microsoft is a registered trademark of Microsoft Corporation. Trademark information
                is available at <a href="http://www.microsoft.com/about/legal/intellectualproperty/trademarks/default.mspx" target="_blank">http://www.microsoft.com/about/legal/intellectualproperty/trademarks/default.mspx</a>.
                Any rights not expressly granted are reserved.
            </p>
            <p>
                <strong>Notices and Procedures for Making Claims of Copyright Infringement</strong><br>
                Under Title 17, United States Code, Section 512 (c ) (2), notifications of claimed
                copyright infringement should be sent to our Designated Agent. All inquiries not
                relevant to the following procedure will not receive a response. See Notice and
                Procedure for Making Claims of Copyright Infringement. See Notice and Procedure
                for Making Claims of Copyright Infringement at <a href="http://www.microsoft.com/info/cpyrtInfrg.htm" target="_blank">http://www.microsoft.com/info/cpyrtInfrg.htm</a>
            </p>
            <p>
                <strong>Unsolicited Idea Submission Policy</strong><br>
                MICROSOFT OR ANY OF ITS EMPLOYEES DO NOT ACCEPT OR CONSIDER UNSOLICITED IDEAS, INCLUDING
                IDEAS FOR NEW ADVERTISING CAMPAIGNS, NEW PROMOTIONS, NEW MERCHANDISE OR TECHNOLOGIES,
                PROCESSES, MATERIALS, MARKETING PLANS, OR NEW MERCHANDISE NAMES. PLEASE DO NOT SEND
                ANY ORIGINAL CREATIVE ARTWORK, SAMPLES, DEMOS, OR OTHER WORKS. THE SOLE PURPOSE
                OF THIS POLICY IS TO AVOID POTENTIAL MISUNDERSTANDINGS OR DISPUTES WHEN MICROSOFT'S
                MERCHANDISE OR MARKETING STRATEGIES MIGHT SEEM SIMILAR TO IDEAS SUBMITTED TO MICROSOFT.
                SO, PLEASE DO NOT SEND YOUR UNSOLICITED IDEAS TO MICROSOFT OR ANYONE AT MICROSOFT.
                IF, DESPITE OUR REQUEST THAT YOU NOT SEND US YOUR IDEAS AND MATERIALS, YOU STILL
                SEND THEM, PLEASE UNDERSTAND THAT MICROSOFT MAKES NO ASSURANCES THAT YOUR IDEAS
                AND MATERIALS WILL BE TREATED AS CONFIDENTIAL OR PROPRIETARY.
            </p>
        </div>
    </div>
}

@section scripts{   
    <script type="text/javascript">
        $('#dvTermsOfUse').perfectScrollbar({
            wheelSpeed: 20,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
    </script>
}
