<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="bootstrap" version="3.3.7" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net462" />
  <package id="GDAL" version="2.4.4" targetFramework="net462" />
  <package id="GDAL.Native" version="2.4.4" targetFramework="net462" />
  <package id="GDAL.Plugins" version="2.4.4" targetFramework="net462" />
  <package id="GDAL.Repack" version="2.4.4" targetFramework="net462" />
  <package id="Google.Apis" version="1.42.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net462" />
  <package id="Google.Apis.Plus.v1" version="1.42.0.1627" targetFramework="net462" />
  <package id="GoogleAuthenticator" version="1.2.1" targetFramework="net462" />
  <package id="jQuery" version="3.4.1" targetFramework="net462" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net462" />
  <package id="MailKit" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.5.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="MimeKit" version="2.5.1" targetFramework="net462" />
  <package id="Modernizr" version="2.8.3" targetFramework="net462" />
  <package id="NetTopologySuite" version="2.0.0" targetFramework="net462" />
  <package id="NetTopologySuite.IO.PostGis" version="2.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="Npgsql" version="4.1.3.1" targetFramework="net462" />
  <package id="Npgsql.NetTopologySuite" version="4.1.3" targetFramework="net462" />
  <package id="OpenLayers" version="4.6.4" targetFramework="net462" />
  <package id="QRCoder" version="1.3.5" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net462" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
</packages>