#!/bin/bash

# Copyright (c) 2011 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

expected_auserver="https://tools.google.com/service/update2"
expected_release_name="Chrome OS"

# List boards here
expected_boards=(
    x86-mario
)

# List track names here
expected_release_tracks=(
    beta-channel
    dev-channel
)

# Associate board names with APPID's by creating a series
# of variables here. Variables should be named based on 
# expected boards (above), with hyphens transposed to
# underscores (to be legal in variable names).
expected_appid_x86_mario="{87efface-864d-49a5-9bb3-4b050a7c227a}"
