<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


<div>
    <h2>Download files</h2>
    <a href="@ViewBag.OutputFiles">Ouput Files</a>
    <br/>
    <a href="@ViewBag.TraceFiles">Trace Log</a>
</div>
