<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


<footer>
    <div class="container">
        <nav>
            @* TODO: Update all the footer links to right uri. *@
            <ul>
                @*<li>
                    @Html.ActionLink("About","About","Home")
                </li>*@
                <li>                    
                    @Html.ActionLink("Privacy", "Privacy", "Home")
                </li>
                <li>
                    @Html.ActionLink("Terms of Use", "TermsOfUse", "Home")
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "ContactUs", "Home")
                </li>
            </ul>
        </nav>
        <div class="copyright">© 2014 Microsoft</div>
    </div>
</footer>

