bct_dump
cbootimage
.*.swp
*.o
*~

.deps
.dirstamp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

src/bct_dump.1
src/bct_dump.man
src/cbootimage.1
src/cbootimage.man
