CONFIG_HWBASE_DEBUG_NULL		= y
CONFIG_HWBASE_DEBUG_TEXT_IO		=
CONFIG_HWBASE_STATIC_MMIO		= y
CONFIG_HWBASE_DYNAMIC_MMIO		=
CONFIG_HWBASE_TIMER_CLOCK_GETTIME	= y
CONFIG_HWBASE_TIMER_MUTIME		=
CONFIG_HWBASE_POSIX_FILE		=
CONFIG_HWBASE_DEFAULT_MMCONF		= 16\#f000_0000\#
CONFIG_HWBASE_DIRECT_PCIDEV		= y
