<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="availableRegions" type="Microsoft.WhiteSpaces.Common.AvailableRegionsConfigurationSection, Microsoft.WhiteSpaces.Portal.Common" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.1" newVersion="3.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <availableRegions>
    <region name="United States" id="0" latitude="39.443256" longitude="-98.957336" imagePath="/Content/images/UnitedStates.png" Api="RegionApi" PowerDBmTransitionPoint="20" RGN1Setting="2" RGN5Setting="51" EnableProtectedAreas="true">
      <deviceTypes>
        <device name="Fixed" type="Fixed"></device>
        <device name="Mode 1" type="Mode_1"></device>
        <device name="Mode 2" type="Mode_2"></device>
      </deviceTypes>
    </region>
    <region name="United Kingdom" id="1" latitude="54.072437" longitude="-2.784392" imagePath="/Content/images/UnitedKingdom.png" Api="PmseApi" PowerDBmTransitionPoint="20">
      <deviceTypes>
        <device name="Type A" type="TypeA"></device>
        <device name="Type B" type="TypeB"></device>
      </deviceTypes>
    </region>
    <region name="Singapore" id="2" latitude="1.321996" longitude="103.820534" imagePath="/Content/images/Singapore.png" Api="RegionApi" PowerDBmTransitionPoint="20"></region>
    <region name="Kenya" id="3" latitude="0.576503" longitude="37.839890" imagePath="/Content/images/Kenya.png" Api="RegionApi" PowerDBmTransitionPoint="20"></region>
  </availableRegions>
</configuration>