<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->


<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ASP.NET MVC Web API for the Region Management Web Service!</h1>
            </hgroup>
        </div>
    </section>
</div>
