<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="availableRegions" type="Microsoft.WhiteSpaces.Common.AvailableRegionsConfigurationSection, Microsoft.WhiteSpaces.Portal.Common" />
  </configSections>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="UnityContainerName" value="SharedCommon" />
    <add key="AuthorizationSchema" value="oAuth" />
    <add key="FccApi" value="http://whitespaces-test.cloudapp.net:8082/api/RegionApi/" />
    <add key="UnityContainerNames" value="SharedCommon,SharedDalc" />
    <add key="LogLevelTransferTime" value="5" />
    <add key="RegionId" value="1" />
    <add key="RegionName" value="RGN" />
    <add key="Authority" value="US" />
    <add key="DBConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[MyAccountName];AccountKey=[MyAccountKey]" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[MyAccountName];AccountKey=[MyAccountKey]" />
  </appSettings>

  <availableRegions>
    <region name="United States" id="0" latitude="39.443256" longitude="-98.957336" imagePath="/Content/images/UnitedStates.png" Api="FccApi" PowerDBmTransitionPoint="20" ChannelStart="2" ChannelEnd="51" EnableProtectedAreas="true" PropagationModel="f-curve" ChannelBandwidth="6" RegulatoryName="FCC">
      <deviceTypes>
        <device name="Fixed" type="Fixed"></device>
        <device name="Mode 1" type="Mode_1"></device>
        <device name="Mode 2" type="Mode_2"></device>
      </deviceTypes>
      <features>
        <feature name="download"></feature>
        <feature name="register incumbents"></feature>
      </features>
    </region>
    <region name="United Kingdom" id="1" latitude="54.072437" longitude="-2.784392" imagePath="/Content/images/UnitedKingdom.png" Api="OfcomApi" PowerDBmTransitionPoint="20" ChannelStart="21" ChannelEnd="60" PropagationModel="Longely Rice" ChannelBandwidth="8" RegulatoryName="Ofcom">
      <deviceTypes>
        <device name="Type A" type="A"></device>
        <device name="Type B" type="B"></device>
      </deviceTypes>
    </region>
    <!--TODO: Updated Ghana region configuration values, as a temporary fix have used the value of UK region-->
    <region name="Ghana" id="2" latitude="7.921330" longitude="-1.204386" imagePath="/Content/images/Ghana.jpg" Api="OfcomApi" PowerDBmTransitionPoint="20" ChannelStart="21" ChannelEnd="60" PropagationModel="NA" ChannelBandwidth="7" RegulatoryName="National Communications Authority">
      <deviceTypes>
        <device name="Fixed" type="Fixed"></device>
        <device name="Portable" type="Portable"></device>
      </deviceTypes>
    </region>
    <!--<region name="Singapore" id="2" latitude="1.321996" longitude="103.820534" imagePath="/Content/images/Singapore.png" Api="RegionApi" PowerDBmTransitionPoint="20"></region>
    <region name="Kenya" id="3" latitude="0.576503" longitude="37.839890" imagePath="/Content/images/Kenya.png" Api="RegionApi" PowerDBmTransitionPoint="20"></region>-->
  </availableRegions>

   <connectionStrings>
    <!--Following connectionString required only for local debuggings-->

    <add name="AzureStorageAccountConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=[MyAccountName];AccountKey=[MyAccountKey]" />
  </connectionStrings>

</configuration>